body{
  		background-color: #7D1B7E;
  	}
  	.cal{

  		margin-top: 10%;
  		margin-left: 40%;
  	}
  .inpu{
  		
  		margin-top: 3%;
  		margin-left: 40%;
  

  	}
  	.vv{
  			margin-left: 40%;
  			padding-top: 3%;
  	}
  	.oter{
  		margin-left: 30%;
  		padding-top: 3%;
  	}
  	.ctr{
  		margin-left: 40%;
  	}